body, html {
  color: white;
  height: 100%;
  }

.hero {
  background-image: url('../dadsbackground.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.navbar {
  background-color: transparent;
  z-index: 99;
}